Data science Assignment -1

Question-1- Create one varible containing following type of data:
(1) string
(2)list
(3)float
(4) tuple

Answer-1- this is the example

In [1]:
#string

In [5]:
s="Hello sir"

In [6]:
s

'Hello sir'

In [7]:
type(s)

str

In [3]:
#list

In [10]:
l=[10,13,45,7554]

In [13]:
l

[10, 13, 45, 7554]

In [14]:
type(l)

list

In [15]:
#float

In [16]:
f=3254.2543

In [17]:
f

3254.2543

In [18]:
type(f)

float

In [19]:
#tuple

In [20]:
t= (1,2,3,4,5,6,7)

In [21]:
t

(1, 2, 3, 4, 5, 6, 7)

In [22]:
type(t)

tuple

Question-2-Given are some following varible containing data:
(1) var1=''
(2) var2='[DS,ML,Python]'
(3) var3=['DS','ML','python']
(4) var4=1.
What will be the data type of the above given varible

Answer-2- These are data type given below

var1 is a string because of empty qutesion
var2 is a string because of qutesion
var3 is a list because of close breacket
var4 is a float because of point(.)

Question-3-Explain the use of the following operation using example:
(1) /
(2) %
(3) //
(4) **

Answer-3-These are some common mathematical and arithmetic operations in Python

In [23]:
#division

In [26]:
a=10/5

In [27]:
a

2.0

In [28]:
#modulus

In [29]:
b= 10%5

In [30]:
b

0

In [31]:
#floor division

In [32]:
c=10//5

In [33]:
c

2

In [34]:
#exponent

In [35]:
d =2**3

In [36]:
d

8

Question-4- Create a list of length 10 of your choice containing multiple types of data. using for loop print the element and its data type.

Answer-4- This is the example

In [38]:
l= [10, 2.5, "Hello", True, [1, 2, 3], (4, 5, 6), {"a": 1, "b": 2}, None, 7.8, False]

for i in l:
    print(f"Element: {i} | Data Type: {type(i)}")

Element: 10 | Data Type: <class 'int'>
Element: 2.5 | Data Type: <class 'float'>
Element: Hello | Data Type: <class 'str'>
Element: True | Data Type: <class 'bool'>
Element: [1, 2, 3] | Data Type: <class 'list'>
Element: (4, 5, 6) | Data Type: <class 'tuple'>
Element: {'a': 1, 'b': 2} | Data Type: <class 'dict'>
Element: None | Data Type: <class 'NoneType'>
Element: 7.8 | Data Type: <class 'float'>
Element: False | Data Type: <class 'bool'>

Question-5-Using a while loop,varify if the number A is purely divisible by number B and if so then how many times it can be divisible

Answer-5- This is the example

In [43]:
A = int(input("Enter number A: "))
B = int(input("Enter number B: "))
        
c = 0

while A >= B:
    A = A - B  
    c += 1

if c > 0:
    print(f"{c} times")
else:
    print("A is not divisible by B")

if A != 0:
    print(f"There is a remainder of {A} left after division.")

Enter number A:  10
Enter number B:  5

2 times

Question-6- Create a list containing 25 int type data.using for loop and if-else condation print if the element is divisible by 3 or not

Answer-6- This is the example

In [46]:
l1= [2, 9, 15, 8, 27, 10, 21, 33, 5, 18, 7, 12, 30, 42, 1, 22, 36, 14, 17, 6, 20, 11, 24, 13, 3]

for i in l1:
    if i % 3 == 0:
        print("{i} is divisible by 3")
    else:
        print("{i} is not divisible by 3")

{i} is not divisible by 3
{i} is divisible by 3
{i} is divisible by 3
{i} is not divisible by 3
{i} is divisible by 3
{i} is not divisible by 3
{i} is divisible by 3
{i} is divisible by 3
{i} is not divisible by 3
{i} is divisible by 3
{i} is not divisible by 3
{i} is divisible by 3
{i} is divisible by 3
{i} is divisible by 3
{i} is not divisible by 3
{i} is not divisible by 3
{i} is divisible by 3
{i} is not divisible by 3
{i} is not divisible by 3
{i} is divisible by 3
{i} is not divisible by 3
{i} is not divisible by 3
{i} is divisible by 3
{i} is not divisible by 3
{i} is divisible by 3

Question-7- What do you understand about mutable and immutable data types? Give example for both showing this property

Answer-7-

#mutable data type
Mutable data types are those that can be modified after they are created. This means you can change their values, add or remove elements, and the object itself remains the same in memory.

In [49]:
# Lists are mutable
l3 = [1, 2, 3]
l3[0] = 10  
print(l3)

[10, 2, 3]

immutable data type-Immutable data types are those that cannot be modified once they are created. Any attempt to change their value will result in creating a new object in memory.

In [50]:
# Strings are immutable
s2 = "Hello sir"
s3 = s2.replace('H')
print(s2)  
print(s3)

TypeError: replace expected at least 2 arguments, got 1

This are the property of immuta